.header {
    display: flex; /* Permite que los elementos se alineen en línea */
    align-items: center; /* Centra verticalmente los elementos */
    justify-content: space-between; /* Espacia los elementos entre sí */
    padding: 20px 40px; /* Agrega espacio interno (20px arriba/abajo, 40px izquierda/derecha) */
    background-color: #000; /* Color de fondo negro para el header */
    position: fixed; /* Mantiene el header fijo en la parte superior */
    top: 0; /* Coloca el header en la parte superior */
    left: 0; /* Alinea el header al lado izquierdo */
    right: 0; /* Alinea el header al lado derecho */
    z-index: 1000; /* Asegúrate de que el header esté por encima de otros elementos */
}


.logo {
    margin: 0; /* Elimina márgenes para mejor alineación */
    color: #a0c4ff; /* Color azul pastel para el logo */
    font-weight: 900; /* Grosor más grueso */
}

  