.stack-tools {
  display: flex;
  justify-content: center; /* Centra horizontalmente el contenido */
  align-items: center; /* Centra verticalmente el contenido */
  flex-direction: column; /* Coloca los elementos en columna */
  padding: 40px;
  height: 100vh; /* Ocupa toda la altura de la ventana */
  background-color: #000; /* Fondo negro */
  color: #fff;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Asegúrate de que el contenido use todo el ancho */
 
}

.stack, .tools {
  flex: 1; /* Permite que ambas secciones ocupen el mismo espacio */
  text-align: center; /* Centra el texto dentro de las secciones */
}

.divider {
  width: 5px; /* Ancho de la línea divisoria */
  background-color: #a0c4ff; /* Color de la línea */
  height: 100%; /* Ocupa toda la altura */
  margin: 0 20px; /* Espaciado a los lados de la línea */
}
