.home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Ocupa toda la altura de la ventana */
  width: 100vw; /* Asegura que el ancho ocupe el 100% de la ventana */
  padding: 0; /* Asegúrate de que no haya padding */
  color: #fff;
  text-align: center;
  background-color: #000; /* Fondo negro */
}

.profile-photo {
  width: 300px; /* Ajusta el tamaño según sea necesario */
  height: 300px; /* Debe ser igual a la anchura para mantener la forma circular */
  border-radius: 50%; /* Hace que la imagen sea redonda */
  object-fit: cover; /* Asegura que la imagen cubra todo el área sin distorsión */
  border: 2px solid #fff; /* Agrega un borde blanco opcional alrededor de la imagen */
}

.greeting h2 {
  font-weight: 100; /* Grosor para "Hola" y "Analista y Desarrollador" */
  color: #fff; /* Color blanco para los h2 */
}

.highlight {
  font-weight: 800; /* Grosor alto para tu nombre */
  color: #a0c4ff; /* Color azul para tu nombre */
  font-size: 2rem; /* Aumenta el tamaño de la fuente (ajusta según sea necesario) */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Agrega una sombra al texto */
}
