.home {
  display: flex;
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
  height: 100vh; /* Hace que el contenedor ocupe todo el alto de la ventana */
  padding: 20px;
  color: #fff; /* Color de texto blanco para contraste */
  text-align: center; /* Asegura que el texto dentro del contenedor se centre */
}

.profile-photo {
  width: 300px;
  height: 300px; 
  border-radius: 50%; /* Hace que la imagen sea circular */
  margin-right: 20px; /* Espacio entre la foto y el texto */
}

.greeting {
  display: flex;
  flex-direction: column; /* Alinea el texto verticalmente */
  align-items: center; /* Centra horizontalmente el texto */
}

.hello {
  margin: 0; /* Elimina márgenes para mejor alineación */
  font-weight: 100; /* Grosor normal */
}

.name {
  margin: 5px 0; /* Espaciado vertical entre líneas */
  font-weight: 900; /* Grosor más grueso */
  color: #a0c4ff; /* Azul pastel */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra para más prominencia */
  letter-spacing: 0.5px; /* Espaciado adicional entre letras */
  font-size: 2rem; /* Aumenta el tamaño de la fuente si es necesario */
}

.job-title {
  margin: 5px 0; /* Espaciado vertical entre líneas */
  font-weight: 500; /* Grosor normal */
}
