/* NavbarLink.css */
.link {
  color: #fff; /* Asegura que el color sea blanco para las otras secciones */
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.link:hover {
  color: #a0c4ff; /* Color al pasar el ratón para las otras secciones */
}
